<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body style="font-family: Arial; text-align: center; margin-top: 50px;">

<h1>💬 VERY IMPORTANT QUIZ</h1>

<form action="/result" method="POST">

    <p>Do you love me?</p>
    <input name="love" style="padding: 8px;">

    <p>Will you marry me?</p>
    <input name="ring" style="padding: 8px;">

    <br><br>

    <button type="submit" style="padding: 10px 20px;">
        Submit
    </button>

</form>

</body>
</html>
